hr {
	margin: 0;
}

.rodapé {
	background-color: var(--branco);
	padding: 1em;
}

@media screen and (min-width: 1024px) {
	.rodapé {
		display: flex;
		justify-content: space-around;
	}

	.rodapé__titulo {
		font-size: 24px;
	}
}

@media screen and (min-width: 1728px) {
	.rodapé {
		padding: 3em 0;
	}
}