<header class="cabeçalho">
    <div class="container">
       <img src="/assets/img/validacao.png" alt="Logo" class="container__imagem" (click)="telaCadastro()">
       <h1 class="container__titulo"><b class="container__titulo--negrito">Valida</b>Formulário</h1>
    </div>
    <div class="container">
       <a href="#" class="container__link">
          <img src="/assets/img/usuario.svg" alt="Meu perfil" class="container__imagem">
          <p class="container__texto">Meu perfil</p>
       </a>
    </div>
 </header>